@model IEnumerable<InventarioWeb.Models.Almacen>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="AlmacenController">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                 
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  


</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/Controllers/AlmacenController.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

      $('#table tbody').on('click', 'tr', function () {
        var data = $('#table')
            .DataTable()
            .row(this).data();

        $("#modalTitle").html("Editar elemento");
        $("#ProveedorId").val(data[0]);
        $("#Nombre").val(data[6]);
        $("#Costo").val(data[2]);
        $("#Precio").val(data[3]);
        $("#Contenido").val(data[4]);
        $("#Unidad").val(data[5]);
        $('#modal-default').modal('show');
    });

    $(function () {
        $("#table").DataTable({
            "columnDefs": [
                {
                    "targets": [0,1],
                    "visible": false
                }
            ],
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "excel", "pdf"]
        }).buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
    });

</script>